body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
.headertext {
    padding: 10px 16px;
    background: #630863c7;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.picturever{
    background-color: inherit;
    margin:5%;
    width: 22%;
}
.picturehor{
    background-color: inherit;
    margin:5%;
    width: 44%;
}
.info{
    background-color: white;
    color:black;
    width: 44%;
    float: left;
    padding: 5%;
}
/*form style*/
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0%;
    display: block;
    border: 1px solid #777;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 50%;
    background-color: #777;
    color: white;
    padding: 14px 20px;
    margin: 8px 0%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #333;
  }
  
.form {
    border-radius: 5px;
    border:#777 solid;
    background-color: white;
    padding: 20px;
    margin-left: 2%;
    width: 80%;
}
.order{
    padding: 2%;
}

.order__button{
    background: inherit;
    color: white;
    text-align: center;
    float: center;
}
.order__button::after{
    content: none;
    float: right;
    transform: scale(1.5);
    appearance: zoom-in;
}
.order__content{
    padding: 0 15px;
    font-family: sans-serif;
    background: inherit;
    width: 80%;
    float: left;
    
    display: none;
    overflow: fill;
}