body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
.headertext {
    padding: 10px 16px;
    background: #630863c7;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.picturever{
    background-color: inherit;
    margin:2%;
    width: 22%;
}
.picturehor{
    background-color: inherit;
    margin:5%;
    width: 44%;
}

.info{
    background-color: white;
    color:black;
    width: 44%;
    float: left;
    padding: 5%;
}

.order__button{
    background: #853e85;
    color: white;
    text-align: center;
    float: left;
    border:#510551 2px solid;
    border-radius: 5px;
    padding:20px;
    margin-top: 10%;
    font-size: large;
}
.order__button:hover{
    background-color: #510551;
    text-shadow: 2px 2px 2px black;
}
